# Cleaning Scraped Data
This notebook does cleaning of the scraped data

### Importing Libraries

In [1]:
import pandas as pd 
import time
import json
import numpy as np

### Reading the scraped json file

In [2]:
filename = 'indeed_'+time.strftime("%d-%m-%Y")+'.json'
df = pd.read_json(filename,orient='columns')

In [3]:
df['job_title'].value_counts()

technical writer     95
data scientist       95
software engineer    95
Name: job_title, dtype: int64

### Dropping the nulls and duplicate jobs

In [4]:
df = df.drop_duplicates()
df.reset_index(drop=True, inplace=True)

In [5]:
df['job_title'].value_counts()

data scientist       57
software engineer    56
technical writer     55
Name: job_title, dtype: int64

### Cleaning Salary column:
Generated 4 columns: 
- salary_period : the time period of salary
- salary_lower : the lower bound of salary
- salary_upper : the upper bound of salary
- salary average : the average bound of salary - calculated from lower and upper bound

In [6]:
df['job_salary'] = df['job_posting_salary']

In [7]:
df['job_posting_salary'] = df['job_posting_salary'].str.replace('\n', '')
df['job_posting_salary'] = df['job_posting_salary'].str.replace(',', '')
df['job_posting_salary'] = df['job_posting_salary'].str.replace('$', '')

In [8]:
df.head()

,company,job_posting_desc,job_posting_salary,job_posting_title,job_posting_url,job_title,location,scrap_date,scrap_website,job_salary
0,Greenville Health System,Job Class\nNON CLINICAL PROFESSIONAL\nFLSA\nEx...,None,DATA SCIENTIST,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None
1,"Aptonet, Inc",ContractWe are currently seeking a full stack ...,None,Full Stack Java Developer w/Selenium and JUnit...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,software engineer,"Boston, MA",17-04-2019,indeed.com,None
2,Fermata Energy,"$80,000 - $130,000 a yearFermata Energy is pio...",80000 - 130000 a year,Machine Learning Developer / Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,"$80,000 - $130,000 a year"
3,"GISbiz, Inc.","ContractData Scientist:Databricks with Spark, ...",None,Data Scientist ( Data Bricks),https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None
4,Astral Technologies Inc,$70 an hourAstral Techs is searching for a Dat...,70 an hour,Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,$70 an hour

In [9]:
df['salary_period'] = 'None'
df['job_posting_salary'] = df['job_posting_salary'].fillna('None')
df.loc[(df['job_posting_salary'].str.contains("year")),'salary_period'] = 'year'
df.loc[(df['job_posting_salary'].str.contains("month")),'salary_period'] = 'month'
df.loc[(df['job_posting_salary'].str.contains("week")),'salary_period'] = 'week'
df.loc[(df['job_posting_salary'].str.contains("day")),'salary_period'] = 'day'
df.loc[(df['job_posting_salary'].str.contains("hour")),'salary_period'] = 'hour'

In [10]:
df.head()

,company,job_posting_desc,job_posting_salary,job_posting_title,job_posting_url,job_title,location,scrap_date,scrap_website,job_salary,salary_period
0,Greenville Health System,Job Class\nNON CLINICAL PROFESSIONAL\nFLSA\nEx...,None,DATA SCIENTIST,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None,None
1,"Aptonet, Inc",ContractWe are currently seeking a full stack ...,None,Full Stack Java Developer w/Selenium and JUnit...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,software engineer,"Boston, MA",17-04-2019,indeed.com,None,None
2,Fermata Energy,"$80,000 - $130,000 a yearFermata Energy is pio...",80000 - 130000 a year,Machine Learning Developer / Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,"$80,000 - $130,000 a year",year
3,"GISbiz, Inc.","ContractData Scientist:Databricks with Spark, ...",None,Data Scientist ( Data Bricks),https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None,None
4,Astral Technologies Inc,$70 an hourAstral Techs is searching for a Dat...,70 an hour,Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,$70 an hour,hour

In [11]:
df['salary_period'].value_counts()

None    131
year     27
hour     10
Name: salary_period, dtype: int64

In [12]:
df["job_posting_salary"] = df["job_posting_salary"].str.replace(" a year", '')
df["job_posting_salary"] = df["job_posting_salary"].str.replace(" a month", '')
df["job_posting_salary"] = df["job_posting_salary"].str.replace(" a week", '')
df["job_posting_salary"] = df["job_posting_salary"].str.replace(" a day", '')
df["job_posting_salary"] = df["job_posting_salary"].str.replace(" an hour", '')

In [13]:
df.head()

,company,job_posting_desc,job_posting_salary,job_posting_title,job_posting_url,job_title,location,scrap_date,scrap_website,job_salary,salary_period
0,Greenville Health System,Job Class\nNON CLINICAL PROFESSIONAL\nFLSA\nEx...,None,DATA SCIENTIST,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None,None
1,"Aptonet, Inc",ContractWe are currently seeking a full stack ...,None,Full Stack Java Developer w/Selenium and JUnit...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,software engineer,"Boston, MA",17-04-2019,indeed.com,None,None
2,Fermata Energy,"$80,000 - $130,000 a yearFermata Energy is pio...",80000 - 130000,Machine Learning Developer / Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,"$80,000 - $130,000 a year",year
3,"GISbiz, Inc.","ContractData Scientist:Databricks with Spark, ...",None,Data Scientist ( Data Bricks),https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None,None
4,Astral Technologies Inc,$70 an hourAstral Techs is searching for a Dat...,70,Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,$70 an hour,hour

In [14]:
df['salary_lower'] = df["job_posting_salary"].str.split(" - ", n=1, expand=True)[0]
df['salary_upper'] = df["job_posting_salary"].str.split(" - ", n=1, expand=True)[1]

In [15]:
df['salary_lower']=df['salary_lower'].replace('None',0)
df['salary_upper']=df['salary_upper'].fillna(0)
df.head()

,company,job_posting_desc,job_posting_salary,job_posting_title,job_posting_url,job_title,location,scrap_date,scrap_website,job_salary,salary_period,salary_lower,salary_upper
0,Greenville Health System,Job Class\nNON CLINICAL PROFESSIONAL\nFLSA\nEx...,None,DATA SCIENTIST,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None,None,0,0
1,"Aptonet, Inc",ContractWe are currently seeking a full stack ...,None,Full Stack Java Developer w/Selenium and JUnit...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,software engineer,"Boston, MA",17-04-2019,indeed.com,None,None,0,0
2,Fermata Energy,"$80,000 - $130,000 a yearFermata Energy is pio...",80000 - 130000,Machine Learning Developer / Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,"$80,000 - $130,000 a year",year,80000,130000
3,"GISbiz, Inc.","ContractData Scientist:Databricks with Spark, ...",None,Data Scientist ( Data Bricks),https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None,None,0,0
4,Astral Technologies Inc,$70 an hourAstral Techs is searching for a Dat...,70,Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,$70 an hour,hour,70,0

In [16]:
df['salary_lower'] = pd.to_numeric(df['salary_lower'])
df['salary_upper'] = pd.to_numeric(df['salary_upper'])
df.head()

,company,job_posting_desc,job_posting_salary,job_posting_title,job_posting_url,job_title,location,scrap_date,scrap_website,job_salary,salary_period,salary_lower,salary_upper
0,Greenville Health System,Job Class\nNON CLINICAL PROFESSIONAL\nFLSA\nEx...,None,DATA SCIENTIST,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None,None,0,0
1,"Aptonet, Inc",ContractWe are currently seeking a full stack ...,None,Full Stack Java Developer w/Selenium and JUnit...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,software engineer,"Boston, MA",17-04-2019,indeed.com,None,None,0,0
2,Fermata Energy,"$80,000 - $130,000 a yearFermata Energy is pio...",80000 - 130000,Machine Learning Developer / Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,"$80,000 - $130,000 a year",year,80000,130000
3,"GISbiz, Inc.","ContractData Scientist:Databricks with Spark, ...",None,Data Scientist ( Data Bricks),https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None,None,0,0
4,Astral Technologies Inc,$70 an hourAstral Techs is searching for a Dat...,70,Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,$70 an hour,hour,70,0

In [17]:
df.loc[df['salary_period'] == 'month','salary_lower'] = df['salary_lower']*12
df.loc[df['salary_period'] == 'month','salary_upper'] = df['salary_upper']*12
df.loc[df['salary_period'] == 'week','salary_lower'] = df['salary_lower']*52
df.loc[df['salary_period'] == 'week','salary_upper'] = df['salary_upper']*52
df.loc[df['salary_period'] == 'day','salary_lower'] = df['salary_lower']*260
df.loc[df['salary_period'] == 'day','salary_upper'] = df['salary_upper']*260
df.loc[df['salary_period'] == 'hour','salary_lower'] = df['salary_lower']*2080
df.loc[df['salary_period'] == 'hour','salary_upper'] = df['salary_upper']*2080

In [18]:
df['salary_average'] = np.where(df['salary_lower'] == 0,df['salary_upper'],(np.where(df['salary_upper'] == 0.0,df['salary_lower'],((df['salary_lower']+df['salary_upper'])/2))))

In [19]:
df.head()

,company,job_posting_desc,job_posting_salary,job_posting_title,job_posting_url,job_title,location,scrap_date,scrap_website,job_salary,salary_period,salary_lower,salary_upper,salary_average
0,Greenville Health System,Job Class\nNON CLINICAL PROFESSIONAL\nFLSA\nEx...,None,DATA SCIENTIST,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None,None,0,0,0.0
1,"Aptonet, Inc",ContractWe are currently seeking a full stack ...,None,Full Stack Java Developer w/Selenium and JUnit...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,software engineer,"Boston, MA",17-04-2019,indeed.com,None,None,0,0,0.0
2,Fermata Energy,"$80,000 - $130,000 a yearFermata Energy is pio...",80000 - 130000,Machine Learning Developer / Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,"$80,000 - $130,000 a year",year,80000,130000,105000.0
3,"GISbiz, Inc.","ContractData Scientist:Databricks with Spark, ...",None,Data Scientist ( Data Bricks),https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None,None,0,0,0.0
4,Astral Technologies Inc,$70 an hourAstral Techs is searching for a Dat...,70,Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,$70 an hour,hour,145600,0,145600.0

In [20]:
df_json = df.to_json(orient='records')
df_json
print(type(df_json))
with open('df_json.json','a') as file:
    json.dump(df_json,file)

<class 'str'>

### Removing punctuation

In [21]:
def data_clean(df, column):
    cleaning_list = ['+','$','/',',','?','.',';','-','@','!','&','%','^','*',')',':','(','\n']
    for item in cleaning_list:
        df[column] = df[column].astype(str).str.replace(item, " ")

In [22]:
for column in df.columns[1:2]:
    data_clean(df, column)

In [23]:
df.head()

,company,job_posting_desc,job_posting_salary,job_posting_title,job_posting_url,job_title,location,scrap_date,scrap_website,job_salary,salary_period,salary_lower,salary_upper,salary_average
0,Greenville Health System,Job Class NON CLINICAL PROFESSIONAL FLSA Exemp...,None,DATA SCIENTIST,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None,None,0,0,0.0
1,"Aptonet, Inc",ContractWe are currently seeking a full stack ...,None,Full Stack Java Developer w/Selenium and JUnit...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,software engineer,"Boston, MA",17-04-2019,indeed.com,None,None,0,0,0.0
2,Fermata Energy,80 000 130 000 a yearFermata Energy is pio...,80000 - 130000,Machine Learning Developer / Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,"$80,000 - $130,000 a year",year,80000,130000,105000.0
3,"GISbiz, Inc.",ContractData Scientist Databricks with Spark ...,None,Data Scientist ( Data Bricks),https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None,None,0,0,0.0
4,Astral Technologies Inc,70 an hourAstral Techs is searching for a Dat...,70,Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,$70 an hour,hour,145600,0,145600.0

### Cleaning Job description column

In [24]:
data = df[['job_posting_desc']]
data.head()

                                    job_posting_desc
0  Job Class NON CLINICAL PROFESSIONAL FLSA Exemp...
1  ContractWe are currently seeking a full stack ...
2   80 000    130 000 a yearFermata Energy is pio...
3  ContractData Scientist Databricks with Spark  ...
4   70 an hourAstral Techs is searching for a Dat...

### Tokenizing the job_posting_desc column using NLTK library

In [25]:
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
import string
from nltk.corpus import stopwords

In [26]:
# nltk.download()

In [27]:
# Removing \n from the String
for desc in df['job_posting_desc']:
    desc = desc.replace('\n','')
    desc = desc.replace('\\n','')
    desc = desc.translate(str.maketrans('', '', string.punctuation))
df.head()

,company,job_posting_desc,job_posting_salary,job_posting_title,job_posting_url,job_title,location,scrap_date,scrap_website,job_salary,salary_period,salary_lower,salary_upper,salary_average
0,Greenville Health System,Job Class NON CLINICAL PROFESSIONAL FLSA Exemp...,None,DATA SCIENTIST,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None,None,0,0,0.0
1,"Aptonet, Inc",ContractWe are currently seeking a full stack ...,None,Full Stack Java Developer w/Selenium and JUnit...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,software engineer,"Boston, MA",17-04-2019,indeed.com,None,None,0,0,0.0
2,Fermata Energy,80 000 130 000 a yearFermata Energy is pio...,80000 - 130000,Machine Learning Developer / Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,"$80,000 - $130,000 a year",year,80000,130000,105000.0
3,"GISbiz, Inc.",ContractData Scientist Databricks with Spark ...,None,Data Scientist ( Data Bricks),https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None,None,0,0,0.0
4,Astral Technologies Inc,70 an hourAstral Techs is searching for a Dat...,70,Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,$70 an hour,hour,145600,0,145600.0

### Removing the stop words from job_posting_desc column

In [28]:
stopWords = set(stopwords.words('english'))
df['job_posting_desc'] = df['job_posting_desc'].str.lower().str.split()
df['job_posting_desc'] = df['job_posting_desc'].apply(lambda x : [item for item in x if item not in stopWords])
df.head()

,company,job_posting_desc,job_posting_salary,job_posting_title,job_posting_url,job_title,location,scrap_date,scrap_website,job_salary,salary_period,salary_lower,salary_upper,salary_average
0,Greenville Health System,"[job, class, non, clinical, professional, flsa...",None,DATA SCIENTIST,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None,None,0,0,0.0
1,"Aptonet, Inc","[contractwe, currently, seeking, full, stack, ...",None,Full Stack Java Developer w/Selenium and JUnit...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,software engineer,"Boston, MA",17-04-2019,indeed.com,None,None,0,0,0.0
2,Fermata Energy,"[80, 000, 130, 000, yearfermata, energy, pione...",80000 - 130000,Machine Learning Developer / Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,"$80,000 - $130,000 a year",year,80000,130000,105000.0
3,"GISbiz, Inc.","[contractdata, scientist, databricks, spark, s...",None,Data Scientist ( Data Bricks),https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None,None,0,0,0.0
4,Astral Technologies Inc,"[70, hourastral, techs, searching, data, scien...",70,Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,$70 an hour,hour,145600,0,145600.0

### De-tokenizing the filtered job_posting_column

In [29]:
from nltk.tokenize.moses import MosesDetokenizer
detokenizer = MosesDetokenizer()
df['job_posting_desc'] = df['job_posting_desc'].apply(lambda x : [detokenizer.detokenize(x, return_str=True)])
df['job_posting_desc'] = df['job_posting_desc'].apply(lambda x : ''.join(x))
df['job_posting_desc'] = df['job_posting_desc'].str.replace('\d+', '')

In [30]:
df.head()

,company,job_posting_desc,job_posting_salary,job_posting_title,job_posting_url,job_title,location,scrap_date,scrap_website,job_salary,salary_period,salary_lower,salary_upper,salary_average
0,Greenville Health System,job class non clinical professional flsa exemp...,None,DATA SCIENTIST,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None,None,0,0,0.0
1,"Aptonet, Inc",contractwe currently seeking full stack java d...,None,Full Stack Java Developer w/Selenium and JUnit...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,software engineer,"Boston, MA",17-04-2019,indeed.com,None,None,0,0,0.0
2,Fermata Energy,yearfermata energy pioneering vehicle grid...,80000 - 130000,Machine Learning Developer / Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,"$80,000 - $130,000 a year",year,80000,130000,105000.0
3,"GISbiz, Inc.",contractdata scientist databricks spark scala ...,None,Data Scientist ( Data Bricks),https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,None,None,0,0,0.0
4,Astral Technologies Inc,hourastral techs searching data scientist res...,70,Data Scientist,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,"Boston, MA",17-04-2019,indeed.com,$70 an hour,hour,145600,0,145600.0

### Dumping the contents of cleaned dataframe into a json file

In [31]:
cleaned_filename = 'indeed_'+time.strftime("%d-%m-%Y")+'_cleaned.json'
df.to_json(cleaned_filename, orient='records')